main {
  // visit section starst
  #visit {
    width: 100%;

    .mainDivForVisit {
      padding-top: 200px;

      h1 {
        font-size: 24px;
        color: rgb(180, 180, 180);
      }
    }
    #restaurantVisitInfoCards {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      width: 100%;
      padding-top: 20px;
      .staticDiv {
        width: 23%;
        .imgDiv {
          width: 100%;
          img {
            width: 100%;
          }
        }
        .headerInfo {
          padding-top: 15px;
          color: rgb(0, 0, 0);
          opacity: 0.8;
        }
        .iconAndReviewsDiv {
          padding-top: 15px;
          display: flex;
          justify-content: space-between;
          .starIconsDiv {
            color: red;
          }
          .reviews {
            opacity: 0.7;
          }
        }
      }
    }
  }
  @media only screen and (max-width: 768px) {
    #restaurantVisitInfoCards {
      display: flex;
      flex-direction: column;
      width: 100%;
      .staticDiv {
        width: 100% !important;
        .imgDiv {
          img {
            width: 100%;
          }
        }
      }
    }
  }
  //   A gorgeous place  sewction start
  #gorgeousPlace {
    .mainDivForgorgeousPlace {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-top: 150px;
      .gorgeous {
        width: 700px;
        text-align: center;
        font-size: 72px;
      }
      .gorgeousInfoText {
        padding-top: 30px;
        width: 870px;
        font-size: 22px;
        text-align: center;
      }
    }
  }
  @media only screen and (max-width: 768px) {
    #gorgeousPlace {
      .mainDivForgorgeousPlace {
        .gorgeous {
          width: auto;
          font-size: 40px;
        }
        .gorgeousInfoText {
          width: auto;
          font-size: 16px;
        }
      }
    }
  }

  //   Recent Blog Post  section
  #recentBlog {
    .mainDivForRecentBlog {
      width: 100%;
      padding-top: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .blogPost {
        font-size: 72px;
      }
      .blogPostInfoText {
        font-size: 22px;
        width: 850px;
        text-align: center;
      }
      .restaurantCard {
        width: 100%;
        display: flex;
        gap: 10px;

        .restaurantInfo {
          width: 33.33%;
          .restaurantInfo_imgDiv {
            img {
              width: 100%;
            }
          }
          .date {
            padding-top: 10px;
            padding-left: 30px;
            opacity: 0.6;
          }
          .restaurantLocation {
            padding-left: 30px;
            font-size: 16px;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 768px) {
    #recentBlog {
      .mainDivForRecentBlog {
        .blogPost {
          font-size: 40px;
        }
        .blogPostInfoText {
          font-size: 16px;
          width: auto;
        }
        .restaurantCard {
          display: flex;
          flex-direction: column;
          .restaurantInfo {
            width: 100%;
            .date {
              padding-left: 10px;
            }
            .restaurantLocation {
              padding-left: 10px;
            }
          }
        }
      }
    }
  }

  //   post section
  #postSection {
    width: 100%;
    padding-top: 20px;
    div{
        width: 100%;
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
  }
}
